.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 2.5px 10px;
    color: white;
    background: rgb(21, 98, 241);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
}

.my-1{
    margin: 5px 0;
}

.my-2{
    margin: 25px 0;
}

.text-center{
    text-align: center;
}